body {
background: whitesmoke;
color: #202023;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 20px;
}

.container {
  margin-left: 20px;
  max-width: 85%;
  margin: auto
}
hr {
  border-top: 3px solid rgba(0,0,0,.1);
  height: 5px;
}

label {
  font-weight: bold;
}

.dark-mode {
  background-color: #202023;
  color: white;
}

.dark-mode hr {
  border-top: 3px solid rgba(255, 255, 255, 0.8);
}

.dinomode-img {
  fill: black; /* default color in light mode */
}

.dark-mode .dinomode-img {
  fill: white; /* color in dark mode */
}
.nav {
  display: flow-root;
  margin: 15px;
}

.output {
  display: block;
}

input {
  width: 100px;
  float: right;
  border: none;
}

select {
  float: right;
  border: none;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}

.button0 {
  background-color: #C7C7C7;
  float: left;
}

.button1 {
  background-color: #C7C7C7;
  float: right;
}

.button2 {
  background-color: #445760;
  float: right;
} 

.button3 {
  background-color: #C7C7C7;
  float: left;
  margin-top: 15px;
  display: block;
} 

.chart-title.hide {
  display: none;
}